/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {

    --ion-toolbar-background: #FAF9F6;
    --ion-tab-bar-background: #FAF9F6;
    --ion-color-primary: #585858;
    --ion-color-secondary: #FAF9F6;
    --ion-color-tertiary: #F9A826;
    --ion-tab-bar-color-selected: #F9A826;
    --ion-font-family: 'Rubik', sans-serif;


  }

      /* --ion-tab-button.tab-selected {
        ion-icon, ion-label {
            color: var(--ion-color-secondary) !important;
            --ion-color-base: var(--ion-color-secondary) !important;
            --ion-color-contrast: var(--ion-color-secondary) !important;
            --ion-color-step-100: var(--ion-color-secondary) !important;
            --fx-border-color: var(--ion-color-secondary) !important;
            --ion-color-contrast: var(--ion-color-primary) !important;
        }
      } */

    .ion-color-primary {
        --ion-color-base: #F9A826;
        --ion-color-contrast: #FFFFFF;
        --ion-color-contrast-rgb: 255, 255, 255;
        --ion-color-shade: #F9A826;
        --ion-color-tint: #F9A826;
    }
    .ion-color-secondary {
        --ion-color-base: #585858;
        --ion-color-contrast: #FFFFFF;
        --ion-color-contrast-rgb: 255, 255, 255;
        --ion-color-shade: #585858;
        --ion-color-tint: #585858;
    }