/* Background */
ion-content::part(background) {
    background: radial-gradient(#FAF9F6, #b2b2b2 );

}

/* Top container for logo and message button*/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes logo left, button right */
    width: 100%;
    margin: 10px 15px; /* Adjust padding as needed */
}

/* 'og' Logo */
.logo-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

/* Message button */
.message-button {
    color: #FAF9F6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: none;
}


.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .profile-image {
    width: 40vw; /* Adjust size as needed */
    height: 40vw;
    border-radius: 50%; /* Makes it circular */
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .profile-image:hover {
    transform: scale(1.1);
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }

  .profile-name {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: #585858; 
  }


/* Content Container - Holds the card */
.card-container {
  display: flex;
  justify-content: center; /* Center the card */
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* Styling for the IonCard */
.ion-card {
  width: 95%; /* Make it responsive */
  max-width: 600px; /* Prevent it from stretching too wide */
  background: #FAF9F6; /* Light background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}

.ion-card:hover {
  transform: scale(1.02); /* Slight hover effect */
}

/* Center and style the card title */
.ion-card-title {
  font-size: 22px;
  text-align: center;
  color: #585858;
  font-weight: bold;
}

/* Subtitle for additional info */
.ion-card-subtitle {
  text-align: center;
  color: #777;
  font-size: 10px;
  margin-bottom: 10px;
}

/* Card Content Styling */
.ion-card-content {
  font-size: 12px;
  color: #585858;
  text-align: left;
  line-height: 1.5;
  padding: 10px 15px;
  margin: 0px 15px 10px 15px;
}

/* Buttons inside the card */
.card-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
}

/* Style for each button */
.card-buttons .ion-button {
  font-weight: bold;
  font-size: 10px;
}

.stats-section {
  text-align: center;
}