<ion-content>
  <!-- Logo -->
  <div class="logo-container">
    <h1 class="logo">omnigym.</h1>
    <img src="assets/Omnigym_Logo.png" alt="OmniGym Logo" class="logo-image" />
  </div>

  <!-- Welcome Box -->
  <div class="welcome-box">
    <h2 class="welcome-title"><strong>Welcome to <span class="bold-text">omnigym.</span></strong></h2>
    <p class="welcome-text">
      A place to meet, link, motivate, and create friendly competition with your fellow gym community.
    </p>
  </div>

  <!-- Get Started Button -->
  <ion-button expand="full" class="start-button" [routerLink]="['/login']">
    Get Started
  </ion-button>
</ion-content>
